<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.jeremy.projetihm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetIHM">
        <activity
            android:name=".quadri"
            android:exported="true" />
        <activity
            android:name=".abdos"
            android:exported="true" />
        <activity
            android:name=".biceps"
            android:exported="true" />
        <activity
            android:name=".epaules"
            android:exported="true" />
        <activity
            android:name=".pectoraux"
            android:exported="true" />
        <activity
            android:name=".profil"
            android:exported="true" />
        <activity
            android:name=".dos_silhouette"
            android:exported="true" />
        <activity
            android:name=".page_principale"
            android:exported="true" />
        <activity
            android:name=".Question1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>